<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.mapper.FrnoMapper">
	<insert id="insertFreply">
		insert into free_rno (frno, fbno, frwriter, frcontent )
		value(#{frno}, #{fbno}, #{frwriter}, #{frcontent})
	</insert>
	
	<select id="listAllFreply" resultType="FreplyVO">
		select *
		from free_rno
	</select>
	
	<update id="updateFreply">
		update free_rno
		set frcontent = #{frcontent}
		where frno = #{frno}	
	</update>
	
	<delete id="deleteFreply">
		delete from free_rno
		where frno = #{frno}
	</delete>
	
	<select id="listPage" resultType="FreplyVO">
		select * from free_rno
		where fbno = #{fbno}
		order by frno desc
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="totalCount" resultType="int">
		select count(fbno) from free_rno where fbno = #{fbno}
	</select>
	
	<select id="selectByFrno" resultType="FreplyVO">
		select * 
		from free_rno
		where frno = #{frno} 
	</select>
	
</mapper>