<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.mapper.SupportMapper">
	<insert id="insertVolunteer">
		insert into support(userid, vnumber, vgroup, vtime, carrer, vreason)
		value(#{userid}, #{vnumber}, #{vgroup}, #{vtime}, #{carrer}, #{vreason})
	</insert>
	
	<insert id="insertMoney">
		insert into support(userid, vgroup,dgroup, dmoney, dmode)
		value(#{userid} ,#{vgroup}, #{dgroup}, #{dmoney}, #{dmode})
	</insert>
	
	<select id="listSupport" resultType="SupportVO">
		select *
		from support
	</select>
</mapper>